@import '../../styles/global.scss';

.Button {
  font: $font__bodyBold;
  background-color: $color__greenDark;
  color: $color__white;
  width: 328px;
  border-radius: 4px;
  border: 1px solid $color__greenDark;
  font-size: 15px;
  line-height: 140.62%;
  box-shadow: 0px 0px 8px rgba(197, 197, 197, 0.28);
  transition: all 0.4s;
  text-transform: none !important;
  font-variant: normal !important;
  transition: all 400ms;
  outline: none !important;
  padding: 12px 16px;
  // margin will be remove
  margin: 20px;
  @include flex_center;
  cursor: pointer;
  &:hover {
    outline: none !important;
    background: $color__greenDark;
    box-shadow: $darkBoxShadow;
    svg {
      color: white;
    }
  }
  &:focus {
    outline: none !important;
  }
  &.secondary {
    background: $color__white;
    color: $color__grayDark;
    border: 1px solid $color__grayStandard;
  }

  &.actioned {
    background: $color__greenLightest;
    color: $color__greenDark;
    border: 1px solid $color__greenStandard;
  }

  &.large {
    padding: 14px 18px;
  }
  &.small {
    padding: 8px 12px;
  }
  &.extra_small {
    padding: 5px 12px;
  }
  &.fullWidth {
    margin: 0;
  }

  &:disabled {
    background: $color__grayLight;
    border: 1px solid transparent;
    color: $color__black;

    pointer-events: initial;
    cursor: not-allowed;
    &:hover {
      background: $color__grayStandard;
      border: 1px solid transparent;
      box-shadow: $lightBoxShadow;
      outline: none !important;
      color: $color__white;
    }
  }
  &.disabled {
    background: $color__grayLightest;
    color: $color__grayStandard;
    border: 1px solid $color__grayLight;
  }
}
