@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

// Font family
$font__bodyRegular: 400 16px 'Source Sans Pro';
$font__bodyBold: 700 16px 'Source Sans Pro';
$font__headingLight: 300 12px 'Montserrat';
$font__headingRegular: 400 12px 'Montserrat';
$font__headingMedium: 500 12px 'Montserrat';
$font__headingSemiBold: 600 12px 'Montserrat';
$font__headingBold: 700 12px 'Montserrat';

// Colors
// Grays
$color__grayDark: #485146;
$color__grayStandard: #6e7370;
$color__grayLight: #c5c5c5;
$color__grayLightest: #fafafa;
$color__white: #ffffff;
$color__black: #000000;
// Greens
$color__greenDark: #006b33;
$color__greenStandard: #009447;
$color__greenLight: #00c65f;
$color__greenLightest: #edfff6;
// Red
$color__red: #d32f2f;

// Box shadows
$lightBoxShadow: 0 0 8px $color__grayLightest;
$darkBoxShadow: 0 2px 8px $color__grayStandard;

// Mixins
@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex_space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex_space_evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
