@import '../styles/global.scss';

.main {
  font: $font__bodyRegular;
  width: 100%;
  height: 100vh;
  @include flex-center;
  flex-direction: column;
  .heading {
    font: $font__headingSemiBold;
    font-size: 30px;
    margin: 30px 0px;
  }
}
