@import '../../styles/global.scss';
.nav {
  width: 100%;
  height: 70px;
  font: $font__bodyRegular;

  background: $color__grayLightest;
  color: $color__greenDark;
  ul {
    height: 100%;
    list-style-type: none;
    @include flex_space_evenly;
    li {
      color: $color__greenDark;
      a {
        text-decoration: none;
        color: $color__grayStandard;
        font-size: 18px;
        background: $color__greenLightest;
        padding: 10px 20px;
        border-radius: 30px;
      }
    }
  }
}
